@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  font-family: "Source Code Pro", monospace;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

form button {
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: gainsboro;
}
form button:hover {
  background-color: lightgreen;
}
/*****new css*****/
.projects_grid {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.projects_grid > div {
  background: whitesmoke;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 5px;
}

.projects_grid > div > h3 {
  margin: 10px;
}
.projects_grid img {
  width: 100%;
}
header > h1 {
  margin: 10px;
  margin-bottom: 0;
}
header > p {
  margin: 20px;
  margin-top: 10px;
}
nav {
  display: flex;
  justify-content: center;
}
.menu_wrapper {
  display: flex;
  gap: 10px;
}
.menu_wrapper > a {
  display: block;
}
.menu_wrapper:hover > :not(:hover) {
  opacity: 0.2;
}

.contact_and_location {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.form_container,
.map_container {
  width: 100%;
}
iframe,
form {
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 20px 25px;
  overflow: hidden;
}
footer a {
  text-decoration: none;
  color: white;
}
.social-links {
  width: fit-content;
  margin: auto;
  padding-top: 10px;
}
.social-links:hover > :not(:hover) {
  opacity: 0.4;
}
/**responsive css***/

@media screen and (max-width: 640px) {
  .contact_and_location {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  .projects_grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
